<div class="row">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select({}, :id => 'attribute') %>
  <% end %>
  <%= f.predicate_select({}, :id => 'attribute') %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>

